@import './reset.scss';
@import './navbar.scss';
@import './member-list.scss';
@import './home.scss';
@import './events.scss';
@import './join.scss';

body {
  font-family: 'Lato',
    sans-serif !important;
  background-image: url('./background_image.jpg');
  background-size: cover;
}

main {
  min-height: 85vh;
  padding: 0.5rem 0 1rem 0;
  width: 100%;
  overflow: hidden;

  & h1 {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 3rem;
  }

  & h2 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 2rem;
  }

  & h3 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px black solid;
  }

  & li,
  p {
    font-size: 1.5rem;
    font-weight: 300;
  }

  & li {
    margin-bottom: 0.8rem;
  }

  & section {
    width: 70vw;
    padding: 1rem;
    margin: 0 auto;
  }
}

.backdrop {
  width: 70vw;
  background-color: whitesmoke;
  opacity: 0.8;
  margin: 0 auto;
  border-radius: 1rem;
}