.events-title {
  text-align: center;
  margin: 2vh 0;
}

.calendar {
  width: 100%;
  height: 70vh;
}

@media only screen and (max-width: 720px) {
  .events section {
    width: auto;
    padding: 2rem 0;
  }
}