.home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
}

.motto-backdrop {
  background-color: whitesmoke;
  opacity: 0.8;
}

.motto-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 15vh;
}

.motto {
  margin: 0.5rem 2rem;
  text-align: center;
  width: 25vw;
  opacity: 1 !important;
}

@media only screen and (max-width: 720px) {

  html,
  body {
    height: 100%;
  }

  .motto-container {
    display: block;
    position: absolute;
    bottom: 0;
  }

  .motto {
    width: auto;
    margin: 0.5rem 0.25rem;
  }

  .motto-container {
    width: auto;
    padding: 0rem;
  }
}