.home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.motto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
  width: 100vw;
  min-height: 15vh;
}

.motto {
  margin: 0.5rem 2rem;
  text-align: center;
  width: 25vw;
}