.home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
}

.motto-backdrop {
  background-color: whitesmoke;
  opacity: 0.8;
}

.motto-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 15vh;
}

.motto {
  margin: 0.5rem 2rem;
  text-align: center;
  width: 25vw;
  opacity: 1 !important;
}