.roster {
  text-align: center;
}

.members-list {
  margin-bottom: 1rem !important;

  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
}

.leadership {
  margin-bottom: 1rem;
}

.member-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  font-weight: 400;

  & img {
    height: 4rem;
    margin-bottom: 0.2rem;
    border-radius: 5px;
  }
}

.spinner-parent {
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .members-list ul {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }

  .members-list {
    margin-bottom: 0 !important;
  }

  .leadership {
    margin-bottom: 0.5rem;
  }
}

.error {
  display: inline-block;
  color: red;
  padding: 1rem;
  background: rgba(256, 256, 256, 0.9);
  border-radius: 4px;
}