.roster ul {
  display: flex;
  flex-wrap: wrap;
}

.roster li {
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  font-weight: 400;
}

.roster {
  text-align: center;
}

.members-list {
  margin-bottom: 1rem !important;
}

.leadership {
  margin-bottom: 2rem;
}

.spinner-parent {
  text-align: center;
}